<table>
    <thead>
        <td>Name</td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Total</td>
        <td>Options</td>
    </thead>
    <tbody>
        <tr *ngFor="let product of cart; index as i">
            <td>{{ product.name }}</td>
            <td>{{ product.price | currency }}</td>
            <td>
                <input type="number" placeholder="Quantity" [(ngModel)]="product.quantity">
            </td>
            <td>{{ (product.price * product.quantity) | currency }}</td>
            <td>
                <button class="btn btn-primary" (click)="save(i)">Kaydet</button>
                <button class="btn btn-danger" (click)="delete(i)">Sil</button>
            </td>
        </tr>
    </tbody>
</table>